footer{
    background: #3c3c3c;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    margin-top: 200px;
}


.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;  
}


.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}



.footer-bottom{
    background: #2e2e22;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}


.socials li{
    margin:  0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-size: 14px;
    word-spacing: 2px;
    cursor: pointer;
    transition: .3s;
    padding: 10px 10px;
}

.socials a:hover{
    transition: .3s;
    color: #9a639f;
}

.scroll-to-top {
    /* display: none; hide the button by default */
    width: 50px;
    height: 50px;
    position: fixed; /* make it fixed to the viewport */
    bottom: 20px; /* set the distance from the bottom of the viewport */
    right: 20px; /* set the distance from the right of the viewport */
    z-index: 99; /* set the z-index to be on top of other elements */
    font-size: 18px; /* set the font size */
    line-height: 1; /* set the line-height */
    padding: 10px 15px; /* set the padding */
    background: #848484;
    border: none; /* remove the border */
    border-radius: 50%; /* make it a circle */
    cursor: pointer; /* change the cursor to a pointer */
    transition: opacity 0.3s ease-in-out; /* add a transition effect */
    background-image: url(./icons/icons8-collapse-arrow-24.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
  
  .scroll-to-top:hover {
    opacity: 0.8; /* reduce the opacity on hover */
  }
  

/* .socials a i {
} */
