*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #2c2c2c;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color:#fff;
  }
  
  .left {
    flex-basis: 50%;
    padding: 50px;
    margin-left: 100px;
}
  
  .right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right img{
    width: 400px;
    height: 600px;
  }
  






  .text h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
    margin-top: 10px;
    width: 80%;
  }


  .text p{
    margin-top: 50px;
    text-align: justify;
    max-width: 80%;
  }


  .contact-buttons{
    display: flex;

  }

   input[type="button"]{
    height: 40px;
    margin-top: 45px;
    border: none;
    margin-right: 30px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
  }

  .btn-contact{
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 140px;
    height: 40px;
    border-radius: 50px;
    transition: .3s;
    background-color: rgb(226, 226, 226);
    color: black;
    display: none;
  }


  .btn-contact:hover{
    background-color: #494d5f;
    color: rgb(226, 226, 226);
    transition: .3s;
  }



  .btn-instagram{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background-image: url(./Icons/icons8-instagram-30.png);
    background-repeat:no-repeat;
    background-position:center;
    transition: .3s;
  }

  
.btn-instagram:hover{
  background-color: #494d5f;
  color: rgb(226, 226, 226);
  transition: .3s;
}

  .btn-twitter{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background-image: url(./Icons/icons8-twitter-30.png);
    background-repeat:no-repeat;
    background-position:center;
    transition: .3s;
  }

  .btn-twitter:hover{
    background-color: #494d5f;
    color: rgb(226, 226, 226);
    transition: .3s;
  }

  .btn-linkedin{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background-image: url(./Icons/icons8-linkedin-circled-30.png);
    background-repeat:no-repeat;
    background-position:center;
    transition: .3s;
  }


  .btn-linkedin:hover{
    background-color: #494d5f;
    color: rgb(226, 226, 226);
    transition: .3s;
  }




  .container1{
    display: flex;
    padding: 200px;
  }


  .content p{
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    font-size: 20px;
  }
  
  
 
  
