


.menu-container{
    width: 100%;
    text-align: center;
}



.menu {
    display: inline-block;
    margin: 0 auto;
}

.menu p {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
	margin-right: 2rem;
	cursor: pointer;
    color: #fff;
    font-size: 25px;
    letter-spacing: 3px;
    transition: .3s;
}

.menu p:hover{
    transition: .3s;
    color: #494d5f;
}

.content {
	margin-top: 2rem;
}

[data-content] {
	display: none;
}

.active[data-content] {
	display: block;
}


.content h1{
    color: aqua;
}